#Detail {
    .commands,
    .chat-log {
        height: 100vh;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        -ms-overflow-style: none;
    }

    .commands {
        height: 90vh;
    }

    .command-list{
        padding: 1rem 0;
        background-color: #fff;

        .card{
            border-color: transparent;

            &:hover{
                background-color: rgb(236, 236, 236);
            }
        }

        input {
            background-color: rgb(231, 231, 231);
            border-radius: 1rem;
            margin: 0 2.5%;
        }
    }

    .card {
        &.card-open {
            background-color: rgb(228, 228, 228);
        }

        padding: 1.25rem;
        transition: 0.2s;
        border-radius: 10px;
        transition: 0.2s;
    }

    .chat-log {
        // min-height: 100vh;
        background-color: rgb(226, 225, 225);
        border-left: 1px solid lightgrey;
        position: relative;
    }

    .chats {
        padding-top: 4rem;
        position: absolute;
        height: 100vh;
        bottom: 0;
        width: 90%;

        .chat-bubble {
            width: 80%;
            background-color: white;
            margin: .5rem 0;
            padding: .25rem .5rem;
            border-radius: 5px;
        }

        .chat {
            width : 100%;

            &.chat-roger {
                padding-left: 6rem;

                .chat-bubble {
                    width: 100% ;
                }
            }
        }
    }
}